.drop-down {
  border: 1px solid black;
  width: fit-content;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.drop-down-main {
  display: flex;
  padding: 2px 5px 2px 5px;
  justify-content: space-between;
  gap: 50px;
}

.drop-down-options {
  border-top: 1px solid rgb(42, 33, 33);
}

.option {
  padding: 2px 5px 2px 5px;
}

.option:hover {
  cursor: pointer;
  background-color: lightgrey;
  color: blue;
}

.drop-down-main:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel, .main-carousel-image, .backward-carousel-image, .forward-carousel-image {
    border: 1px solid white;
    border-radius: 8px;
}

.main-carousel-image {
    width: 500px;
    height: 450px;
}

.backward-carousel-image, .forward-carousel-image {
    width: 300px;
    height: 250px;
}

.not-main-image {
    filter: brightness(40%);
}

.carousel-holder {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.slider {
    display: flex;
    gap: 5px;
}
    
.slider-option {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
}

.slider-option:hover {
    cursor: pointer;
}

.active {
    background-color: black;
}